<extend name="Public/base"/>
<block name="main">  
	<div class="main-full">
        <div class="page-header">
          <h3>个人中心 <small>Individual Center</small></h3>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
             <div class="panel panel-default">
                <div class="panel-body">
                  <div style="width:50%;float:left">
                      <img class="img-circle" src="__ROOT__{$_SESSION['user']['uid']|get_user_field_info='cover_id'|get_user_head}" alt="Generic placeholder image" style="width:100px;height:100px;">
                  </div>
                  <div style="width:50%;float:right">
                    <h5><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;{$_SESSION['user']['username']}</h5>
                    <h5><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> &nbsp;&nbsp;积分：0</h5>
                  </div>
                </div>
            </div>
            <div class="list-group">
              <a href="{:U('user/user_center')}" class="list-group-item">修改资料</a>
              <a href="{:U('user/user_head')}" class="list-group-item">上传头像</a>
              <a href="{:U('user/user_doc')}" class="list-group-item">发布文章</a>
              <a href="{:U('user/user_book')}" class="list-group-item">成员专属</a>
              <a href="{:U('user/user_profile')}" class="list-group-item active">修改密码</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
              <div class="panel-body">
                <h5><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;&nbsp;修改密码</h5><hr>
                <form class="form-horizontal" role="form" style="margin:30px 15% 0 15%;font-size:16px" action="{:U('User/user_profile')}" method="post" name="form">
                  <div class="form-group">
                    <label for="old" class="col-sm-2 control-label">原密码</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" name="old">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" name="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="repassword" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" name="repassword">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                      <button type="submit" class="btn btn-primary">确认</button>&nbsp;&nbsp;
                    </div>
                    <div class="check-tips col-sm-5 text-danger control-label" style="text-align:left;font-size:18px"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</block>
<block name="script">
  <script type="text/javascript">

      $("form[name=form]").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
          if(data.status){
              manhuaTip('succ',data.info);
              window.location.href = data.url;
          } else {
              manhuaTip('error',data.info);
          }
        }
      });
  </script>
</block> 