<extend name="Public/base"/>
<block name="style">
    <link href="__STATIC__/uploadify/uploadify.css" rel="stylesheet">
</block>
<block name="main">
    <script src="__STATIC__/js/jquery-1.11.2.min.js"></script>
    <script src="__STATIC__/uploadify/jquery.uploadify.min.js?ver=<?php echo rand(0,9999);?>" type="text/javascript"></script>
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              项目成果 <small>编辑</small>
          </eq>
          </h1>
          <form class="form-horizontal" role="form" id="form" action="{:U('project/project_edit_sub')}" method="post" name="form">
            <div class="form-group">
              <label for="title" class="col-sm-3 control-label">标题</label>
              <div class="col-sm-6">
                <input type="hidden" name="id" id="id" value="{$info.id}">
                <input type="text" class="form-control" name="title" id="title" value="{$info.title}">
              </div>
            </div>
            <div class="form-group">
              <label for="cover" class="col-sm-3 control-label">封面</label>
              <div class="col-sm-3">
                  <input type="file" id="upload_picture_cover_id">
                  <input type="hidden" name="cover_id" id="cover_id" value="{$info.cover_id}"/>
                  <div class="upload-img-box">
                  <notempty name="info.cover_id">
                    <div class="upload-pre-item"><img src="__ROOT__{$info.cover_id|get_cover}"/></div>
                  </notempty>
                  </div>
                <script type="text/javascript">
                //上传图片
                  /* 初始化上传插件 */
                $("#upload_picture_cover_id").uploadify({
                      "swf"             : "__STATIC__/uploadify/uploadify.swf",
                      "buttonText"      : "上传图片",
                      "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                      'removeTimeout'   : 1,
                      "onUploadSuccess" : uploadPicturecover_id,
                      'onFallback' : function() {
                          alert('未检测到兼容版本的Flash.');
                      }
                  });
                function uploadPicturecover_id(file, data){
                    var data = $.parseJSON(data);
                      if(data.status){
                        $("#cover_id").val(data.id);
                        $("#cover_id").parent().find('.upload-img-box').html(
                          '<div class="upload-pre-item"><img src="__ROOT__' + data.path + '"/></div>'
                        );
                      } else {
                        updateAlert(data.info);
                        setTimeout(function(){
                              $('#top-alert').find('button').click();
                              $(that).removeClass('disabled').prop('disabled',false);
                          },1500);
                      }
                  }
                </script>
              </div>
            </div>
            <div class="form-group">
              <label for="show_url" class="col-sm-3 control-label">演示地址</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="show_url" id="show_url" value="{$info.show_url}">
              </div>
            </div>
            <div class="form-group">
              <label for="author" class="col-sm-3 control-label">作者</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="author" id="author" value="{$info.username}">
              </div>
            </div>
            <div class="form-group">
              <label for="editor" class="col-sm-3 control-label">内容</label>
              <div class="col-sm-6">
                <script id="editor" type="text/plain" style="width:800px;height:300px;">{$info.content}</script>
              </div>
            </div>
            <div class="form-group">
              <label for="display" class="col-sm-3 control-label">可见性</label>
              <div class="col-sm-6">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="display" value="1" <eq name="info['display']" value="1">checked="checked"</eq>>总是可见
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="display" value="0" <eq name="info['display']" value="0">checked="checked"</eq>>仅后台可见
                    </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-1">
                <button type="submit" class="btn btn-primary">确认</button>
              </div>
              <div class="check-tips col-sm-3 text-danger control-label" style="text-align:left"></div>
            </div>
          </form>
      </div>
  </div>
  
</block>
             
<block name="script">
  <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"> </script>
  <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript">   
    var ue = UE.getEditor('editor');
    
    $("form[name=form]").submit(function(){
      var self = $(this);
      var content = UE.getEditor('editor').getContent();

      var display = $('input[name="display"]:checked').val();
      var sub_data = {
          'id'        : $("#id").val(),
          'title'     : $("#title").val(),
          'cover_id'  : $("#cover_id").val(),
          'show_url'  : $("#show_url").val(),
          'username'  : $("#author").val(),
          'content'   : content,
          'display'   : display
      }
      $.post(self.attr("action"), sub_data, success, "json");
      return false;

      function success(data){
        if(data.status){
          window.location.href = data.url;
        } else {
          self.find(".check-tips").text(data.info);
        }
      }
    });

  </script>
</block>

